

.icon-qing:before {
  content: "\e600";
}

.icon-xue:before {
  content: "\e687";
}

.icon-yu:before {
  content: "\e611";
}

.icon-xue1:before {
  content: "\e650";
}

.icon-baoyu:before {
  content: "\e629";
}

.icon-xiaoyu:before {
  content: "\e632";
}

.icon-icon-test26:before {
  content: "\e66c";
}

.icon-xuehua:before {
  content: "\e63d";
}

.icon-shengdan_xuehua:before {
  content: "\e68d";
}

.icon-daxue:before {
  content: "\e607";
}

.icon-huaban:before {
  content: "\e61f";
}

.icon-qing1:before {
  content: "\e6c8";
}

.icon-qingtian:before {
  content: "\e71d";
}

.icon-yutian:before {
  content: "\e71f";
}

.icon-yu1:before {
  content: "\e78d";
}

.icon-qing2:before {
  content: "\e78e";
}

