.ico_100{background-image: url(../img/weather/myweather/100.png);}
.ico_101{background-image: url(../img/weather/myweather/101.png);}
.ico_102{background-image: url(../img/weather/myweather/102.png);}
.ico_103{background-image: url(../img/weather/myweather/103.png);}
.ico_104{background-image: url(../img/weather/myweather/104.png);}
.ico_200{background-image: url(../img/weather/myweather/200.png);}
.ico_201{background-image: url(../img/weather/myweather/201.png);}
.ico_202{background-image: url(../img/weather/myweather/202.png);}
.ico_203{background-image: url(../img/weather/myweather/203.png);}
.ico_204{background-image: url(../img/weather/myweather/204.png);}
.ico_205{background-image: url(../img/weather/myweather/205.png);}
.ico_206{background-image: url(../img/weather/myweather/206.png);}
.ico_207{background-image: url(../img/weather/myweather/207.png);}
.ico_208{background-image: url(../img/weather/myweather/208.png);}
.ico_209{background-image: url(../img/weather/myweather/209.png);}
.ico_210{background-image: url(../img/weather/myweather/210.png);}
.ico_211{background-image: url(../img/weather/myweather/211.png);}
.ico_212{background-image: url(../img/weather/myweather/212.png);}
.ico_213{background-image: url(../img/weather/myweather/213.png);}
.ico_300{background-image: url(../img/weather/myweather/300.png);}
.ico_301{background-image: url(../img/weather/myweather/301.png);}
.ico_302{background-image: url(../img/weather/myweather/302.png);}
.ico_303{background-image: url(../img/weather/myweather/303.png);}
.ico_304{background-image: url(../img/weather/myweather/304.png);}
.ico_305{background-image: url(../img/weather/myweather/305.png);}
.ico_306{background-image: url(../img/weather/myweather/306.png);}
.ico_307{background-image: url(../img/weather/myweather/307.png);}
.ico_308{background-image: url(../img/weather/myweather/308.png);}
.ico_309{background-image: url(../img/weather/myweather/309.png);}
.ico_310{background-image: url(../img/weather/myweather/310.png);}
.ico_311{background-image: url(../img/weather/myweather/311.png);}
.ico_312{background-image: url(../img/weather/myweather/312.png);}
.ico_313{background-image: url(../img/weather/myweather/313.png);}
.ico_314{background-image: url(../img/weather/myweather/314.png);}
.ico_315{background-image: url(../img/weather/myweather/315.png);}
.ico_316{background-image: url(../img/weather/myweather/316.png);}
.ico_317{background-image: url(../img/weather/myweather/317.png);}
.ico_318{background-image: url(../img/weather/myweather/318.png);}
.ico_399{background-image: url(../img/weather/myweather/399.png);}
.ico_400{background-image: url(../img/weather/myweather/400.png);}
.ico_401{background-image: url(../img/weather/myweather/401.png);}
.ico_402{background-image: url(../img/weather/myweather/402.png);}
.ico_403{background-image: url(../img/weather/myweather/403.png);}
.ico_404{background-image: url(../img/weather/myweather/404.png);}
.ico_405{background-image: url(../img/weather/myweather/405.png);}
.ico_406{background-image: url(../img/weather/myweather/406.png);}
.ico_407{background-image: url(../img/weather/myweather/407.png);}
.ico_408{background-image: url(../img/weather/myweather/408.png);}
.ico_409{background-image: url(../img/weather/myweather/409.png);}
.ico_410{background-image: url(../img/weather/myweather/410.png);}
.ico_499{background-image: url(../img/weather/myweather/499.png);}
.ico_500{background-image: url(../img/weather/myweather/500.png);}
.ico_501{background-image: url(../img/weather/myweather/501.png);}
.ico_502{background-image: url(../img/weather/myweather/502.png);}
.ico_503{background-image: url(../img/weather/myweather/503.png);}
.ico_504{background-image: url(../img/weather/myweather/504.png);}
.ico_507{background-image: url(../img/weather/myweather/507.png);}
.ico_508{background-image: url(../img/weather/myweather/508.png);}
.ico_509{background-image: url(../img/weather/myweather/509.png);}
.ico_510{background-image: url(../img/weather/myweather/510.png);}
.ico_511{background-image: url(../img/weather/myweather/511.png);}
.ico_512{background-image: url(../img/weather/myweather/512.png);}
.ico_513{background-image: url(../img/weather/myweather/513.png);}
.ico_514{background-image: url(../img/weather/myweather/514.png);}
.ico_515{background-image: url(../img/weather/myweather/515.png);}
.ico_900{background-image: url(../img/weather/myweather/900.png);}
.ico_901{background-image: url(../img/weather/myweather/901.png);}
.ico_999{background-image: url(../img/weather/myweather/999.png);}